body {
    width: 1920px;
    height: 1080px;
    background-image: url("/Win10.jpg");
    background-repeat: no-repeat;
    margin: 0px;
}
.taskbar{

position: relative;
width: 100%;
height: 80px;
top: 1000px;
background-color: #211B2D;

}
.winlogo{

    position: absolute;
    width: 103px;
    height: 80px;
    background-image: url("/wnlogoo.png");
    background-repeat: no-repeat;
    background-size: 83px;
    margin: 0px;
    padding: 0px;
    

}

.winlogo:hover {

    background-image: url("/wnlogonhoverr.png");
    transition: all 0.3s ease;
    filter: saturate(99%) invert(14%);
-webkit-filter: saturate(99%) invert(14%);
-moz-filter: saturate(99%) invert(14%);
}